.videoList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 20px;
}

.videoCard {
	flex-basis: 22%;
	display: flex;
	/* flex-direction: column; */
}

.button {
	display: block;
}
